.growth {
  width: 100%;

  background-color: white;

  font-family: "inter";
}
.control-center-text-color4 {
  color: #12c457;
}

.control-center-text-color5 {
  color: #36bedf;
}

.control-center-text-color6 {
  color: #e84c85;
}
