.review {
  width: 100%;
  padding-bottom: 150px;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: row;

  justify-content: center;

  padding-top: 100px;

  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;

  font-family: "inter";
}
.review-heading-container {
  width: 700px;
}
.review-heading {
  display: flex;
  flex-direction: row;

  justify-content: center;

  text-align: center;

  font-size: 36px;
  line-height: 46.8px;
  font-weight: 700;
  letter-spacing: -0.224px;
  color: #33334f;
}
.user-photo {
  width: 70px;
  height: 70px;
  background-color: red;

  border-radius: 100px;

  margin-top: 40px;
}
.user-name {
  color: #33334f;
  font-size: 16px;
  line-height: 23.2px;
  letter-spacing: normal;
}
.user-position {
  color: #7171a6;
  font-size: 16px;
  line-height: 23.2px;
  font-weight: 400;
  letter-spacing: 0.176px;

  margin-bottom: 16px;
}
.review-image {
  width: 200px;
  height: 100px;

  cursor: pointer;

  background-color: red;
}
@media screen and (max-width: 700px) {
  .review-heading-container {
    width: fit-content;
  }
}
